@use 'sass:map';
@use '@angular/material' as mat;

@mixin sidenav-theme($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');

    .sidenav{
        padding: 20px;
    }
}