<mat-drawer-container fullscreen>
    <mat-drawer #drawer mode="side">
        <mat-expansion-panel togglePosition="before" class="mat-elevation-z0">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Gestione protocollo
                </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-nav-list>
                <mat-list-item *ngFor="let link of ['AAA', 'BBB', 'CCC']" [activated]="false">
                    <a matListItemTitle>{{ link }}</a>
                </mat-list-item>
            </mat-nav-list>
        </mat-expansion-panel>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="accent">
            <button mat-icon-button (click)="drawer.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <mat-form-field appearance="outline">
                <input matInput placeholder="search...">
                <mat-icon matPrefix>search</mat-icon>
            </mat-form-field>
            <span class="spacer"></span>
            <button mat-icon-button>
                <mat-icon matBadge="3" matBadgeColor="warn" color="primary">email</mat-icon>
            </button>
            <button mat-icon-button>
                <mat-icon color="primary" matBadge="1" matBadgeColor="warn">notifications</mat-icon>
            </button>
            <div class="avatar"></div>
            <!-- <span>Mario Rossi<br>role</span> -->
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-drawer-content>
</mat-drawer-container>