@use 'sass:map';
@use '@angular/material' as mat;

@mixin admin-theme($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');

    .spacer {
        flex: 1 1 auto;
    }

    .logo {
        height: 150px;
    }

    .avatar {
        vertical-align: middle;
        width: 40px;
        height: 40px;
        border-radius: 10%;
        margin-left: 10px;
        background-color: mat.get-color-from-palette($primary);
    }

    .mat-expansion-panel {

        .active {
            text-decoration: underline;

            a {
                color: mat.get-color-from-palette($accent);
            }
        }

        a {
            color: #7784ac;
        }

        mat-panel-title {
            color: mat.get-color-from-palette($accent);
        }

        background-color: mat.get-color-from-palette($primary);
    }

}