@use 'sass:map';
@use '@angular/material' as mat;

@mixin admin-theme($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');

}