<div class="content">
    <mat-form-field appearance="outline">
        <mat-label>login</mat-label>
        <input matInput placeholder="Login">
        <mat-icon matSuffix>login</mat-icon>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>password</mat-label>
        <input matInput placeholder="password">
        <mat-icon matSuffix>password</mat-icon>
    </mat-form-field>
    <button mat-flat-button color="primary" routerLink="/registry">Basic</button>
</div>