@use 'sass:map';
@use '@angular/material' as mat;

@mixin registry-theme($theme) {
    $color-config: mat.get-color-config($theme);
    $primary: map.get($color-config, 'primary');
    $accent: map.get($color-config, 'accent');

    #registry{
        padding: 20px;
        .filter{
            padding-right: 20px;
        }
    }

}